/* HEADER */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #457b9d;
}

.logo-container {
  justify-content: center;
}

.logo {
  max-width: 200px;
}

.nav {
  display: flex;
  gap: 2vh;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  position: relative;
}

.nav-link::after {
  content: '';
  width: 0px;
  height: 0px;
  display: block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 4px solid transparent;
  transition: width 0.9s;
}

.nav-link:hover::after {
  width: 100%;
  border-bottom: 4px solid #e63946;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .logo {
    display: none;
  }

  .nav {
    flex: 1;
  }

  .nav-link {
    font-size: 1rem;
  }
}
