.form-box {
  width: 150vh;
  padding: 40px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 15px 25px #457b9d;
  border-radius: 10px;
}

.form-box .box {
  position: relative;
  margin-bottom: 20px;
}

.box input[type="text"],
.box input[type="number"],
.box input[type="textarea"]{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.custom-textarea {

  resize: vertical; /* Permite que o usuário redimensione verticalmente */
}

.form-box .box label {
  padding: 10px 0;
  font-size: 16px;
  color: #e63946;
  display: block;
  margin-bottom: 5px;
}

.form-box .box .error {
  font-size: 14px;
  color: #1d3557;
  bottom: -25px;
}

button[type="submit"]:hover {
  background-color: #e63946;
  color: white;
}