/* FOOTER */

.footer {
  text-align: center;
  background-color: #2c2f30;
  padding: 30px;
  color: #f1faee;
  width: 100%;
}

.f-logo-text {
  margin-right: 20px;
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social-icons {
  display: flex;
}

.social-icon {
  padding: 10px;
  margin: 0 1vw;
  font-size: 2rem;
  color: #f1faee;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #5f6266;
}

.rights {
  padding: 20px;
  margin-top: 0.5vh;
  font-size: 1.2rem;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .container-footer {
    display: flex;
    fles-wrap: wrap;
    justify-content: center;
  }

  .social-icon {
    font-size: 1.3rem;
  }

  .rights {
    font-size: 1rem;
  }
}
